{% extends 'base_layout.html' %} {% block body %}
<div class="mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-left">
                <div class="card-body">
                    <h3 class="text-center">Developer of <h3 class="text-center" style="color:brown">TRIPLE-K</h3> </h3>
                    <div class="container">
                        
                        <div class="row">
                            {% for kkk in students %}
                            <div style="padding: 27px;" class="column text-center">
                                <img src="{{kkk.studentimage}}" class="img-fluid z-depth-1 rounded-circle"
                                    alt="Responsive image" style="width:300px ">
                                <br>
                                <br> {{kkk.first_name}} {{kkk.last_name}} <br> {{kkk.studentID}}
                            </div>

                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}